# Ignorar el entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de Jupyter y notebooks temporales
.ipynb_checkpoints/

# Archivos de configuración del sistema operativo o editor
.vscode/

